<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador Skate Park</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/estilos.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/sweetalert2/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

     {{> participantes skaters=skaters admin=admin}}

    </div>
<script>
  const actualizarParticipacion = async function (checkbox){
    const email = checkbox.getAttribute("data-email")
    const estaConfirmado = checkbox.checked
    const skaterConfirmado = axios.post("/confirmar", {email, estaConfirmado})
    
    skaterConfirmado
    .then((resolve) => {      
      const {nombre, estado} = resolve.data[0]
      console.log(resolve.data)
      const mensajeToastConfirmacion = (estado)
      ?  `Skater ${nombre} confirmado para la competencia.`
      :  `Skater ${nombre} pasa a revisión.`
      Swal
      .fire({
        toast: true,
        position: "top-end",
        timer: 3000,
        timerProgressBar: true,
        title: mensajeToastConfirmacion
      })
      .finally(() => {
        location.reload()
      })
      
    })

  }
</script>
  </body>

</html>
